<!doctype html>
<html>
<head>
    <title>Piggy Bank</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
        .footer {margin-top: 20%}
    </style>
</head>
<body>

    <div class=" text-center">
        <img src="http://thumbs.dreamstime.com/z/piggy-bank-sketch-22382095.jpg" width="200" height="200">
        <h1>Piggy Bank</h1>

        <a href="/login" class="button"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="button"><span class="fa fa-user"></span> Create Account</a>
    </div>
    
    <div class="text-center footer">
        <hr>
        <p>This establishment is not accredited by the FDIC</p>
    </div>

</body>
</html>
