<!doctype html>
<html>
<head>
    <title>Piggy Bank</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <img src="http://thumbs.dreamstime.com/z/piggy-bank-sketch-22382095.jpg" width="200" height="200">
        <h1>Piggy Bank</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Create Account</a>
    </div>

    <div class="text-center">
        <p>This establishment is not accredited by the FDIC</p>
    </div>

</div>
</body>
</html>
