<!doctype html>
<html>
<head>
    <title>First Suidae Bank</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="row text-center">
        <div class="small-12 medium-4 columns small-centered myPanel">
            <img src="http://rogallery.com/_RG-Images/Morris_Burton/w-1028/Burton-Rich_Pig.jpg" width="200" height="200" class="ceo">
            <h1>First Suidae Bank</h1>
            <p>"We are commited to keeping your money and information secure. You can focus on becoming a fat pig on wallstreet!"</p>
            <p> - Porky Pig IV, CEO </p>
            <a href="/login" class="button expand success"><img class="icon" src="static/img/pig-128.png"> Login</a>
            <a href="/signup" class="button expand success"><img class="icon" src="static/img/pig-128.png"> Create Account</a>
        </div>
    </div>
    
    <div class="text-center footer">
        
        <div class="row">
            <div class="medium-6 columns medium-centered">
                <p class="footerText">View the code at <a href="http://github.com/jbenkual/bank">github</a></p>
            </div>
        </div>
    </div>

</body>
</html>
